.project-blocks-group {
  padding-top: 1rem;
}

.project-blocks {
  background-color: rgba(200, 200, 200);
  width: 70%;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: auto;
}

.project-block-description {
  width: 40%;
}

.left-section {
  border: 1px solid black;
  width: 50%;
}

.right-section {
  border: 1px solid black;
  width: 50%;
}
